body {
  background-color: #e2ffe2;
}

h1 {
  text-align: center;
}

img {
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-right: 40px;
  padding-left: 20px;
  border-radius: 0px;
}

.intro {
  padding-left: 10px;
}

.jumbotron {
  background-color: #5dacbf;
  padding: 20px;
}