body {
  background-color: #e2ffe2;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

img {
  float: left;
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  width: 20%;
  border-radius: 30px;
}

.intro {
  padding-left: 10px;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 290px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border: 2px solid #a5d6a5;
  border-radius: 5px;
}

.jumbotron {
  background-color: #5dacbf;
  background-color: #337ab7;
  padding: 20px;
  color: #7ab1ef;
}

.title {
  color: #30637d;
}